.editor {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer {
  height: 60%;
  width: 60%;
  /* background-color: rgb(240, 238, 238); */
  background-color: whitesmoke;
  background-color: #00de7a;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  align-items: space-between;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 10px rgb(187, 187, 187);
}
.loginImage {
  width: 40%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5%;
  color: #17e6be;
}
.loginImage img {
  width: 80%;
  aspect-ratio: 1/1;
}
form {
  width: 70%;
}
.loginSubmitButton {
  width: 100% !important;
  margin-top: 10px;
}
.inputContainer {
  display: flex;
  flex-direction: row;
}
.sigin_card {
  height: 100%;
  width: 50%;
  min-height: 350px;
  min-width: 300px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  background-color: #09394e ;
}
.sigin_card input {
  color: white;
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  margin-left: 10px;
}
.hr {
  width: 100%;
  height: 2px;
  background-color: rgba(185, 185, 185, 0.678);
}
button:active {
  background-color: #67c2f3d2;
  border: 2px solid #0795ff;
}
.note_writter {
  display: inline-block;
}
.share_box {
  display: none;
}
form input::placeholder {
  /* Firefox, Chrome, Opera */
  color: white;
}

form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: orange;
}
