.treasure-section {
  height: 70vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.treasure-section img {
  height: 65%;
}
.treasure-section p {
  font-size: 40px;
  font-weight: bolder;
}
@media only screen and (max-width: 600px) {
  .treasure-section p {
    font-size: 32px;
    font-weight: bolder;
  }
}
